@import '../_variables';

input:invalid,
textarea:invalid,
select:invalid {
	border: 2px solid $danger;
}

.automaticHeight {
	box-sizing: padding-box;
	overflow: hidden;
	resize: none;
}

.alert pre {
	color: inherit;
	margin-top: 1em;
}

#max-results {
	max-width: 8em;
}

label + select,
label + input {
	margin: 0 auto;

	@media (min-width: $breakpoint-sm) {
		margin-left: 0.5em;
	}
}

.form-inline {
	flex-direction: column;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
	}
}

.form-group {
	margin-top: 1em;

	@media (min-width: $breakpoint-lg) {
		&:not(:first-of-type) {
			margin-left: auto;
		}
	}
}

.submit-form-group {
	text-align: center;
	margin-top: 1em;
}
