@import '../_variables';

span[title] {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

.output-container {
	margin-top: 1em;
}

.output-optimized {
	font-size: 125%;
}

#output {
	font-size: 1rem;
	line-height: 1.6rem;

	&.plaintext-output {
		border: 1px $primary dotted;
		max-height: 30em;
		padding: 0.5em;
	}

	&.wrap-output {
		white-space: pre-wrap;
	}

	&:not(.plaintext-output) > * {
		margin-bottom: -0.75em;
		overflow: auto;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.is-waiting & {
		background: no-repeat center/5em
			url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/images/loader-large.gif');
		height: 20px + 64px + 20px; // height of loading graphic, plus padding
	}

	& > :nth-child(odd) {
		color: $blue;
	}

	& > :nth-child(even) {
		color: $green;
	}
}

@media (min-width: $breakpoint-md) {
	.count {
		float: right;
	}

	.count + * {
		clear: both;
	}
}
