.jumbotron {
	padding-bottom: 1em;
	padding-top: 1em;
}

input:invalid,
textarea:invalid,
select:invalid {
	border: 2px solid red;
}

#pattern {
	height: 2.5em;
}

.alert pre {
	color: inherit;
	margin-top: 1em;
}

#max-results {
	max-width: 8em;
}

label + select,
label + input {
	margin: 0 auto;
}

.form-inline {
	flex-direction: column;
}

.form-group {
	margin-top: 1em;
}

.submit-form-group {
	text-align: center;
	margin-top: 1em;
}

#output {
	border: 1px #2c3e50 dotted;
	font-size: 1.1em;
	height: 30em;
	line-height: 1.6em;
	padding: 0.5em;
}

#output.wrap-output {
	white-space: pre-wrap;
}

.is-waiting #output {
	background: no-repeat center/5em
		url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/images/loader-large.gif');
}

#output > :nth-child(odd) {
	color: #2c3e50;
}

#output > :nth-child(even) {
	color: #18bc9c;
}

@media (min-width: 576px) {
	label + select,
	label + input {
		margin-left: 0.5em;
	}
}

@media (min-width: 992px) {
	.form-group:not(:first-of-type) {
		margin-left: auto;
	}

	.form-inline {
		flex-direction: row;
	}
}
