// Bootswatch Flatly theme from
// https://github.com/thomaspark/bootswatch/blob/master/docs/4/flatly/_variables.scss

$blue: #2c3e50;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #f39c12;
$green: #18bc9c;
$teal: #20c997;
$cyan: #3498db;
$white: #fff;
$gray: #95a5a6;
$gray-dark: #343a40;

$primary: $blue;
$secondary: $gray;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$light: #ecf0f1;
$dark: #7b8a8b;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
